h1 { background-color: #11110f;}

h2 {text-align: center;
    color:#11110f;
    background:linear-gradient(#E6E6FA,green, #D8BFD8);
    backdrop-filter:initial;}
    

h3 {text-align: center;}

p  {color:#161313;
    text-shadow: black;}
   ul{color:#030303;
    text-shadow: whitesmoke;}

.contenedor{
    
    position: relative;
    /*background: lightgrey;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.presentacion{
    width: 300px;
     color: brown;
     text-align: center;
}


#experiencia{
    width: 400px;
    justify-content: center;
    text-decoration-style: solid;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background:linear-gradient(#E6E6FA,green, #D8BFD8);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    filter: grayscale(20%);
    border-style: inset;
    animation-name: slidein;
    animation-duration: 3s;
    ;

}

@keyframes  slidein {from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 300%;
  }
}

#experiencia:hover{
    filter:grayscale(50%)
}

#estudios{
    width: 160px;
    justify-content: center;
    text-decoration-style: solid;
    text-align: center;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background:linear-gradient(#E6E6FA,green, #D8BFD8);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    filter: grayscale(20%);
    border-style: inset;
    animation-name: slidein;
    animation-duration: 5s;
}

#estudios:hover{
    filter: grayscale(50%);
}

#idiomas{
    width: 190px;
    text-decoration-style: solid;
    text-align: center;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background:linear-gradient(#E6E6FA,green, #D8BFD8);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    filter: grayscale(20%);
    border-style: inset;
    animation-name: slidein;
    animation-duration: 5s;
}

#idiomas:hover{
    filter: grayscale(50%);
}
#mensaje{
    width: 380px;
    text-decoration-style: solid;
    text-align: center;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    background:linear-gradient(#E6E6FA,green, #D8BFD8);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    filter: grayscale(20%);
    border-style: inset;
    animation-name: slidein;
    animation-duration: 3s;
}

#mensaje{
    filter: grayscale(50%);
}